*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial;

background:#080808;

color:white;

}

.navbar{

display:flex;

justify-content:space-between;

padding:25px 10%;

}

.menu{

display:flex;

gap:30px;

}

.menu a{

color:white;

text-decoration:none;

}

.hero{

height:100vh;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

}

.hero h2{

font-size:72px;

max-width:800px;

}

.hero p{

margin-top:20px;

color:#bdbdbd;

}

button{

margin-top:30px;

padding:16px 32px;

border:none;

cursor:pointer;

background:white;

}

#servicios{

padding:120px 10%;

}

.cards{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

margin-top:50px;

}

.card{

padding:40px;

background:#141414;

border-radius:15px;

}

#portfolio{

padding:120px 10%;

}

#contacto{

padding:120px 10%;

}

form{

display:flex;

flex-direction:column;

gap:20px;

max-width:600px;

}

input,
textarea{

padding:18px;

background:#141414;

border:none;

color:white;

}
